@charset "UTF-8";

@font-face {
  font-family: "Digital-7";
  src: url("../fonts/digital-7/digital-7.ttf") format("truetype");
  font-family: "onryou";
  src: url("../fonts/onryou/onryou.TTF") format("truetype");
}

/* ---------- 変数 ---------- */
:root {
  /* 色管理用の変数 */
  --black-color: #333;
  --white-color: #fff;
  --gray-color: #aaa;
  --gray-color02: #fafafa;
  --gray-color03: #aaaaaa7e;
  --primary-color: #ffe0e0;
  --accent-color: #012e06;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 800px;
  --content-width: 960px;
  --content-width-lg: 1088px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-header: 1000;
  --z-index-modal: 7000;
  --z-index-maku: 8000;
  --z-index-menu: 9999;
}

/* ---------- 要素 ---------- */
html {
  scroll-behavior: smooth; /* スクロールをスムーズにする */
}

body {
  color: var(--black-color);
  font-size: 14px;
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "Cinzel", serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 2px rgba(170, 170, 170, 0.16);
}

/* ---------- layout ---------- */
.l_container-sm,
.l_container,
.l_container-lg {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .l_container-sm,
  .l_container,
  .l_container-lg {
    padding: 0 80px;
  }
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 80px 0;
}

.l_section {
  text-align: center;
  min-height: 75vh;
}

.l_question {
  margin-top: 40px;
}

.l_question:nth-of-type(n + 2) {
  display: none;
}

.l_question.is-active {
  display: block;
}

.l_img-box {
  height: 50vh;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  background: url("../img/back.jpg") no-repeat center center;
  background-size: cover;
  min-height: 90vh;
}
#goodEnd {
  background: url("../img/back.jpg") no-repeat center center;
  background-size: cover;
  min-height: 90vh;
}
#badEnd {
  background: url("../img/back.jpg") no-repeat center center;
  background-size: cover;
  min-height: 90vh;
}

.l_annke {
  margin: 80px auto 0;
  text-align: center;
  padding: 40px;
}

/*ヘッダー*/
.l_header {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  background: #aaaaaabf;
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  transition: transform 0.3s ease-in-out; /* スムーズな動き */
}

@media screen and (min-width: 1080px) {
  .l_header {
    height: 100px;
    padding: 0 32px;
  }
}

.l_header_logo {
  height: 100%;
}

.l_header_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  /* background: linear-gradient(90deg, var(--primary-color), var(--black-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

@media screen and (min-width: 1080px) {
  .l_header_link {
    font-size: 40px;
  }
}

.l_header_contents {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

@media screen and (min-width: 1080px) {
  .l_header_contents {
    gap: 32px;
  }
}

.l_header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 1080px) {
  .l_header-nav {
    position: static;
    background: transparent;
    opacity: 1;
    pointer-events: inherit;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.l_header-nav_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  font-weight: bold;
  font-size: 24px;
}

@media screen and (min-width: 1080px) {
  .l_header-nav_list {
    position: static;
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    height: 100%;
    color: var(--primary-color);
  }
}

.l_header-nav_item {
  text-align: center;
  margin-top: 80px;
}

@media screen and (min-width: 1080px) {
  .l_header-nav_item {
    margin-top: 0;
    height: 100%;
  }
}

@media screen and (min-width: 1080px) {
  .l_header-nav_link {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .l_header-nav_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; /* 文字のすぐ下 */
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    transform: scaleX(0); /* 横方向に縮小 */
    transform-origin: right; /* 右から左へ動く */
    transition: transform 0.2s ease;
  }
}

.l_header-nav_link:hover {
  color: var(--accent-color);
}

.l_header-nav_link:hover::after {
  transform: scaleX(1); /* 通常サイズに戻す＝表示される */
  transform-origin: left; /* 左から広がる（逆方向） */
}

/*footer*/
.l_footer {
  height: 100%;
  width: 100%;
  padding: 40px 0;
  background-color: var(--gray-color);
}

@media screen and (min-width: 768px) {
  .l_footer_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 16px;
  }
}

@media screen and (min-width: 1080px) {
  .l_footer_box {
    padding: 40px 32px;
  }
}

.l_footer-nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .l_footer-nav_list {
    font-size: 18px;
    gap: 80px;
  }
}

@media screen and (min-width: 1080px) {
  .l_footer-nav_list {
    font-size: 24px;
  }
}

.l_footer-nav_link {
  transition: all 0.3s ease;
}

.l_footer-nav_link:hover {
  color: var(--accent-color);
}

.l_footer_logo {
  height: 88px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .l_footer_logo {
    height: 160px;
  }
}

@media screen and (min-width: 1080px) {
  .l_footer_logo {
    height: 240px;
  }
}

.l_footer_link-img {
  height: 100%;
  object-fit: contain;
}

.l_footer-copyright {
  text-align: center;
  font-size: 8px;
  color: var(--white-color);
}

@media screen and (min-width: 1080px) {
  .l_footer-copyright {
    font-size: 16px;
  }
}

/*---------------モジュール---------------*/
/*ハンバーガーメニューボタン*/
.m_hamburger {
  position: relative;
  width: 32px;
  height: 24px;
  background-color: #00000000;
}

@media screen and (min-width: 1080px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px; /*棒の太さ*/
  background: var(--black-color);
  transition: 0.3s;
}

.m_hamburger-bar:nth-child(1) {
  top: 0;
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.m_hamburger-bar:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}

/*詳細ボタン*/
.m_more_btn-box {
  text-align: center;
  margin: 56px auto 0;
}

.m_more_btn {
  display: inline-block;
  padding: 8px 16px;
  color: var(--white-color);
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 30px;
  font-size: 14px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .m_more_btn {
    font-size: 20px;
    padding: 14px 32px;
  }
}

.m_more_btn:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.m_more_btn-box {
  text-align: center;
  margin: 56px auto 0;
}

.m_more_btn {
  display: inline-block;
  padding: 8px 16px;
  color: var(--white-color);
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 30px;
  font-size: 14px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .m_more_btn {
    font-size: 20px;
    padding: 14px 32px;
  }
}

.m_more_btn:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/*本*/
.m_shelf {
  display: flex;
  justify-content: center;
}
.m_slot {
  width: 80px;
  height: 240px;
  border: 2px dashed var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #613400;
}
.m_outside {
  border: 2px solid var(--gray-color);
  min-height: 240px;
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: #613400;
}
.m_book {
  width: 80px;
  height: 240px;
  padding: 8px;
  background: var(--accent-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: grab;
  user-select: none;
  border: 2px solid var(--black-color);
}
.book-title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 16px;
}
.book-num {
  font-size: 12px;
  width: 74px;
  color: var(--black-color);
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
}

/* 分類 */
.l_container-bunrui {
  display: flex;
  padding: 8px;
  max-width: 640px;
  margin: 16px auto;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .l_container-bunrui {
    display: block;
    padding: 8px;
    max-width: 640px;
    margin: 16px auto;
    justify-content: center;
    align-items: center;
  }
}

.l_bunrui {
  width: 240px;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .l_bunrui {
    width: 100%;
    padding: 8px;
  }
}

/*修理*/
.m_img {
  height: 100%;
  object-fit: contain;
}

.m_section_title {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
}

.m_question_p {
  padding: 8px;
  font-weight: bold;
  text-shadow:
    2px 0px 5px var(--white-color),
    -2px 0px 5px var(--white-color),
    0px 2px 5px var(--white-color),
    0px -2px 5px var(--white-color),
    2px 2px 5px var(--white-color),
    -2px 2px 5px var(--white-color),
    2px -2px 5px var(--white-color),
    -2px -2px 5px var(--white-color);
  margin-top: 16px;
}

.m_answer {
  padding: 0.5em;
  width: 200px;
  border: solid 1px var(--gray-color);
  border-radius: 8px;
  background-color: var(--primary-color);
  font-size: 14px;
}

.m_answer.is-disable {
  cursor: not-allowed;
  pointer-events: none;
}

.m_btn {
  padding: 0.5em 1em;
  margin-top: 1em;
  border: solid 1px var(--gray-color);
  border-radius: 8px;
  background-color: var(--accent-color);
  box-shadow: 2px 2px 2px var(--black-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: bold;
}

.m_btn:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.m_btn.is-disable {
  background-color: var(--gray-color);
  color: var(--gray-color02);
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
}

.m_annke {
  font-size: 24px;
  color: blue;
  border-bottom: solid 1px;
  background-color: var(--primary-color);
}

.m_p-w {
  color: var(--white-color);
}

/* ---------- Start ---------- */
.start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-color);
}
.start.is-disable {
  display: none;
}

/* 初期状態の真っ黒な背景 */
#intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-color);
  z-index: var(--z-index-maku);
  display: flex;
  justify-content: center;
  align-items: center;
}

#fadeout-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--white-color);
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 3s ease;
}

#fadein-overlay.is-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--white-color);
  z-index: 9999;
  animation: fadeinEffect 2s ease-out forwards;
}

@keyframes fadeinEffect {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}

/* ---------- top ---------- */

/* モーダル */
.l_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gray-color03);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-modal);
}

.l_modal.is-disable {
  display: none;
}

.l_modal_content {
  background: var(--white-color);
  padding: 2em;
  border-radius: 10px;
  width: 60%;
  min-width: 90%;
  text-align: center;
  position: relative;
}

.m_close-btn {
  position: absolute;
  top: 0.3em;
  right: 0.7em;
  cursor: pointer;
  font-size: 1.2rem;
}

.m_shikaku {
  border: solid 2px;
  border-color: black;
}

.m_maru {
  border: solid 2px;
  border-radius: 50px;
  border-color: black;
}

.m_onryou_p {
  font-family: "onryou";
  text-shadow: none;
}

.m_red {
  color: red;
}

.m_blue {
  color: blue;
}

/* clear */
#clear {
  background: url("../img/room02.png") no-repeat center center;
  background-size: cover;
}

.js_hint {
  display: none;
}
.js_hint.is-active {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.js_hint_p {
  margin-top: 0;
}

.js_inonaka {
  display: none;
}

.js_inonaka.is-active {
  display: block;
}

/* ---------- js ---------- */
.js_body.is-active {
  overflow: hidden; /* スクロールを無効化 */
}

.js_header.is-active {
  transform: translateY(-100%);
}

.js_nav {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

@media screen and (min-width: 1080px) {
  .js_nav {
    pointer-events: auto;
    opacity: 1;
  }
}

.js_nav.is-active {
  transform: translateX(0);
  pointer-events: inherit;
  opacity: 1;
  background:
    linear-gradient(rgba(51, 51, 51, 0.4), rgba(51, 51, 51, 0.4)),
    url(../img/dwm.jpg) 30% 35% / cover;
  text-shadow:
    2px 2px 4px var(--primary-color) /* 右下 */,
    -2px 2px 4px var(--primary-color) /* 左下 */,
    2px -2px 4px var(--primary-color) /* 右上 */,
    -2px -2px 4px var(--primary-color) /* 左上 */,
    0 2px 4px var(--primary-color) /* 下 */,
    0 -2px 4px var(--primary-color) /* 上 */,
    2px 0 4px var(--primary-color) /* 右 */,
    -2px 0 4px var(--primary-color) /* 左 */;
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: rotate(45deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:last-child {
  top: 50%;
  transform: rotate(-45deg);
}

.js_section {
  display: none;
}

.js_section.is-active {
  display: block;
}
